/* stile e comportamento della nav bar */
.my-img-logo{
    width: 150px;
    
}
.my-navbar{
    height: 80px;
    line-height: 80px;
}


.lista-disline{
    display: inline-block;
    
    
}

.my-lista{
    margin-left: 150px;
}

.my-navbar a{
    color: black;
}

#my-btn-nav{
    border: 1px solid rgb(0 , 106, 255 );
    color: rgb(0, 106, 255);
    padding: 10px;
    border-radius: 5px;
}

.my-btncollasso{
    background-color: transparent;
    display: none;
  
}

.my-icon-bar{
    height: 2px;
    width: 22px;
    background-color:  rgb(0 , 106, 255 );
    display:block;
    margin: 5px 0;
}


/* stile sezione hero */
.my-pd-pagina{
    padding: 40px 0;
}

.hero{
    background-image: url(img/bg-banner-home.jpg);
    background-size: contain;
}

.size-hero-h1{
    font-size: 50px
}

.size-hero{
    font-size: 22px;
    color:rgb(187, 205, 255)
}

.text-white{
    color: white;
}

.color-get{
    color:  rgb(0 , 106, 255 );
}
.my-form{
    border: none;
}
.btn-account{
    color: white;
    background-color: rgb(87, 154, 255);

}
.btngoogle{
    position: relative;
    background-color: white;
    border-bottom: 1px solid lightgray;
    margin: 10px 0;
    color: gray;
}

.icon-google{
    height: 25px;
    position: absolute;
    left: 5px;
}


/* stile sezione logo */
.logo-bar{
    background-color: rgb(243, 245, 249);
}

.logo-bar img{
    width: 100%;
    height: 100px;
    
}




@media all and (max-width: 991px){
    .collasso{
        display: none;
    }
    .my-btncollasso{
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        float: right;
}


}